@use "mixin" as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,300&display=swap');
*, *::before, *::after {
	box-sizing: border-box;
}
header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 32px clamp(24px, 8%, 312px);
	@include pad {
        padding: 0;
    }
}
header img, footer img {
    width: 90px;
    height: 40px;
}
.nav-list {
    display: flex;
    justify-content: center;
	gap: 40px;
	@include pad {
        display: none;
    }
}
.mobile-menu {
    display: none;
    @include pad {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: #fff;
        input { display: none; }
        label {
            cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 20px;
        }
		label .mobile-logo { width: 90px; height: 40px; }
		label .hamburger-icon { width: 30px; height: 20px; }
        .mobile-nav-list {
            overflow: hidden;
            max-height: 0;
            transition: max-height .5s;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            margin: 0;
            padding: 0;
            a {
                display: block;
                padding: 14px 20px;
				text-decoration: none;
				color: #000000;
				font-size: 20px;
				text-align: center;
            }
			a.active {
				font-weight: bold;
			}
        }
        &:has(input:checked) .mobile-nav-list {
            max-height: 50%;
            transition: max-height 1s;
            overflow-y: auto; 
        }
    }
}
.nav-list a {
	cursor: pointer;
	text-decoration: none;
	color: #000000;
	font-size: 16px;
}
.nav-list a.active {
	font-weight: bold;
}