@use "mixin" as *;
.works-hero {
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    @include pad {
		padding-top: 40px;
        padding-bottom: 40px;
    }
}
.works-intro {
    gap: 16px;
    width: 670px;
    height: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @include pad {
		width: 100%;
        padding-left: 37.5px;
        padding-right: 37.5px;
        padding-top: 64px;
    }
}
.works-intro p {
    font-size: 24px;
	text-align: center;
    @include pad {
		font-size: 20px;
    }
}
.quote-left {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 0;
    left: 0;
    @include pad {
		left: 50%;
        transform: translateX(-50%);
        width: 64px;
        height: 64px;
    }
}
.quote-right {
    position: absolute;
    width: 72px;
    height: 72px;
    bottom: 0;
    right: 0;
    @include pad {
		display: none;
        width: 64px;
        height: 64px;
    }
}
.works-intro .highlight {
    background-image: url('../assets/Vector.png');
	background-repeat: no-repeat;
	background-position: center bottom; /* 圖片位置在中央底部 */
  	background-size: 100% auto; /* 橫向撐滿文字寬度 */
    padding-bottom: 4px;
}
.work-experience {
    display: flex;
    justify-content: center;
    width: 636px;
    gap: 40px;
    @include pad {
        width: 235px;
		flex-direction: column;
        padding-top: 40px;
    }
}
.works-experience-card p {
    color: #3B3B3B;
    font-size: 16px;
    flex: 1;
    line-height: 24px;
    text-align: center;
}
.works-experience-card .subtitle {
    color: #5B5B5B;
    font-size: 16px;
    line-height: 24px;
}
.works-experience-card .subtitle::after {
    content: '';
    flex: 0 0 100px;
    height: 1px;
    background: #C1C1C1;
}
.works-collection {
    padding: 120px 312px;
    @include pad {
		padding: 80px 12px;
    }
}
.works-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include pad {
		flex-direction: column;
        gap: 48px;
    }
}
.works-item {
    flex: 0 0 calc(50% - 12px);
}
.works-item img {
    width: 100%;
    border: #F1F1F1 1px solid;
    border-radius: 8px;
    margin-bottom: 16px;
}
.works-item h3 {
    font-size: 28px;
    color: #3B3B3B;
    padding-bottom: 8px;
    padding-top: 0;
    @include pad {
		font-size: 20px;
        padding-left: 16px;
    }
}
.works-item p {
    font-size: 16px;
    color: #919191;
    @include pad {
        padding-left: 16px;
    }
}
.works-item ul {
	display: flex;
	gap: 16px;
	padding-top: 24px;
	padding-bottom: 24px;
	@include pad {
		font-size: 16px;
		gap: 8px;
		padding-top: 16px;
        padding-left: 16px;
		padding-bottom: 20px;
		justify-content: flex-start;
    }
}
.works-item li {
	color: #3B3B3B;
	background: #F1F1F1;
	padding: 10px 28px;
	border-radius: 16px;
	@include pad {
		color: #3B3B3B;
		background: #F1F1F1;
		gap: 8px;
		padding: 4px 12px;
    }
}
.works-pagination {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 72px;
    @include pad {
		padding-top: 48px;
    }
}
.works-pagination .pagination-button {
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
	justify-content: center;
    color: #1E1E1E;
	text-decoration: none;
}
.works-pagination .pagination-button.active {
    background-color: #1E1E1E;
    color: white;
}
