@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title::before, .title::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #C1C1C1;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

h2::before, h2::after {
  content: "";
  flex: 0 0 100px;
  height: 1px;
  background: #C1C1C1;
}
@media (max-width: 768px) {
  h2::before, h2::after {
    flex: 0 0 50px;
  }
}

.portfolio-content::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #F1F1F1;
}
@media (max-width: 768px) {
  .portfolio-content::after {
    display: none;
  }
}

.button::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../assets/arrow.svg");
  background-repeat: no-repeat;
  margin-left: 8px;
}

.grey-box {
  background-color: rgba(128, 128, 128, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
@media (max-width: 768px) {
  .grey-box {
    background-color: white;
    flex-direction: column;
    width: 100%;
    height: 188px;
  }
}

.dots li span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #E9E9E9;
}
@media (max-width: 768px) {
  .dots li span {
    display: none;
  }
}

.dots li.active span {
  background-color: #000000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
}

/* header */
header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 32px 312px;
}
@media (max-width: 768px) {
  header {
    padding: 0;
  }
}

header img, footer img {
  width: 90px;
  height: 40px;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
  }
  .mobile-menu input {
    display: none;
  }
  .mobile-menu label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .mobile-menu label .mobile-logo {
    width: 90px;
    height: 40px;
  }
  .mobile-menu label .hamburger-icon {
    width: 30px;
    height: 20px;
  }
  .mobile-menu .mobile-nav-list {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
  }
  .mobile-menu .mobile-nav-list a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    text-align: center;
  }
  .mobile-menu .mobile-nav-list a.active {
    font-weight: bold;
  }
  .mobile-menu:has(input:checked) .mobile-nav-list {
    max-height: 50%;
    transition: max-height 1s;
    overflow-y: auto;
  }
}

.nav-list a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.nav-list a.active {
  font-weight: bold;
}

/* 第一部分 */
.hero {
  display: flex;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.hero-content {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 768px) {
  .hero-content {
    width: 60%;
  }
}

.hero-img {
  width: 60%;
}
@media (max-width: 768px) {
  .hero-img {
    width: 100%;
    margin-top: 40px;
  }
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #3B3B3B;
  padding-bottom: 24px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.intro p {
  font-size: 20px;
  color: #5B5B5B;
  line-height: 30px;
  padding-bottom: 8px;
}

.intro p .highlight {
  background-image: url("../assets/Vector.png");
  background-repeat: no-repeat;
  background-position: center bottom; /* 圖片位置在中央底部 */
  background-size: 100% auto; /* 橫向撐滿文字寬度 */
  padding-bottom: 4px; /* 確保底部有空間顯示圖片 */
}

.intro .specialties {
  font-size: 16px;
  color: #C1C1C1;
  padding-top: 16px;
  line-height: 24px;
}

.intro ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding-top: 60px;
}
@media (max-width: 768px) {
  .intro ul {
    justify-content: center;
    padding-top: 24px;
  }
}

.intro ul li {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro ul img {
  width: 70%;
}

/* 第二部分 */
.works {
  padding-top: 80px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #3B3B3B;
}
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

.portfolio {
  height: 2400px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
@media (max-width: 768px) {
  .portfolio {
    height: 2043px;
    padding-top: 40px;
  }
}

.portfolio-item-up {
  flex: 1;
  width: 100%;
  background: url("../assets/portfolio-up.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media (max-width: 768px) {
  .portfolio-item-up {
    flex-direction: column;
    background: none;
  }
}

.portfolio-up-mobile-box {
  display: none;
}
@media (max-width: 768px) {
  .portfolio-up-mobile-box {
    position: relative;
  }
}

.portfolio-up-mobile-wrapper, .portfolio-down-mobile-wrapper {
  display: none;
}
@media (max-width: 768px) {
  .portfolio-up-mobile-wrapper, .portfolio-down-mobile-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 390px;
  }
}

@media (max-width: 768px) {
  .portfolio-up-bg-mobile, .portfolio-down-bg-mobile {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.portfolio-up-img-web {
  width: 714px;
  height: 720px;
  align-self: flex-end;
}
@media (max-width: 768px) {
  .portfolio-up-img-web {
    display: none;
  }
}

@media (max-width: 768px) {
  .portfolio-up-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 295px;
    height: 297px;
  }
}

.glass-card {
  width: 526px;
  height: 400px;
  backdrop-filter: blur(8px);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
@media (max-width: 768px) {
  .glass-card {
    background-color: white;
    width: 100%;
    border-radius: 0;
    height: 164px;
  }
}

.portfolio-content {
  color: #FFFFFF;
  margin: 80px 40px 56px 40px;
}
@media (max-width: 768px) {
  .portfolio-content {
    margin: 0 auto;
    color: #1E1E1E;
    text-align: center;
  }
}

h3 {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 6px;
}
@media (max-width: 768px) {
  h3 {
    font-size: 20px;
    padding-top: 24px;
    padding-bottom: 0px;
  }
}

.portfolio-content p {
  padding-top: 6px;
  padding-bottom: 6px;
}
@media (max-width: 768px) {
  .portfolio-content p {
    padding-top: 8px;
    padding-bottom: 16px;
    white-space: normal; /* pad 版允許換行 */
    width: 100%; /* 寬度撐滿讓文字有空間換行 */
    text-align: center;
  }
}

.portfolio-content ul {
  display: flex;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (max-width: 768px) {
  .portfolio-content ul {
    font-size: 16px;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
}

.portfolio-content li {
  color: #3B3B3B;
  background: #FFFFFF;
  padding: 10px 28px;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .portfolio-content li {
    color: #3B3B3B;
    background: #F1F1F1;
    gap: 8px;
    padding: 4px 12px;
  }
}

.button {
  font-size: 20px;
  font-weight: bold;
  background-color: #000000;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content; /* 寬度只包住文字 */
  margin: 0 auto;
}
@media (max-width: 768px) {
  .button {
    font-size: 16px;
    padding: 8px 16px;
    height: 40px;
  }
}

.portfolio-item-middle {
  flex: 1;
  width: 100%;
  background: url("../assets/portfolio-middle.svg") center/cover no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
@media (max-width: 768px) {
  .portfolio-item-middle {
    flex-direction: column;
    background: none;
    flex: 0;
  }
}

.portfolio-middle-bg-mobile {
  display: none; /* 桌機版隱藏 */
}
@media (max-width: 768px) {
  .portfolio-middle-bg-mobile {
    display: block;
    width: 100%;
    height: 390px;
  }
}

.portfolio-item-down {
  flex: 1;
  width: 100%;
  background: url("../assets/portfolio-down.svg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media (max-width: 768px) {
  .portfolio-item-down {
    flex-direction: column;
    background: none;
  }
}

@media (max-width: 768px) {
  .portfolio-down-img {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 295px;
    height: 320px;
  }
}

.portfolio-down-img-web {
  width: 721px;
  height: 512px;
}
@media (max-width: 768px) {
  .portfolio-down-img-web {
    display: none;
  }
}

/* 第三部分 - 服務項目 */
.services-container {
  width: 100%;
  background: url("../assets/homepage-services-bg.svg") center/cover no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .services-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.services-container ul {
  padding-top: 90px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .services-container ul {
    padding-top: 40px;
    flex-direction: column;
  }
}

.services-container li {
  background: url("../assets/process-bg.svg") center/cover no-repeat;
  color: #FFFFFF;
  height: 306px;
  width: 306px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  gap: 24px;
}

.services-container span {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 6px;
}
@media (max-width: 768px) {
  .services-container span {
    font-size: 24px;
  }
}

.cta p {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 6px;
}
@media (max-width: 768px) {
  .cta p {
    font-size: 20px;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .cta {
    padding-top: 40px;
  }
}

/* 第四部分 - 精選文章 */
.articles {
  padding-top: 120px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .articles {
    padding-top: 80px;
  }
}

.articles-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .articles-content {
    flex-direction: column;
  }
}

.article-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* 頂端對齊 */
  width: 416px;
  gap: 16px;
}
@media (max-width: 768px) {
  .article-card {
    padding-right: 12px;
    padding-left: 12px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .article-card img {
    width: 100%;
  }
}

.article-card p {
  font-size: 20px;
  font-weight: bold;
  text-align: left; /* 強制靠左 */
  word-wrap: break-word; /* 允許長單字換行 */
  width: 100%;
  line-height: 1.5;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.label {
  background-color: #F1F1F1;
  color: #3B3B3B;
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 16px;
}

time {
  font-size: 16px;
  line-height: 24px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  gap: 16px;
}

.articles .button {
  display: none;
}
@media (max-width: 768px) {
  .articles .button {
    display: flex;
  }
}

/* footer */
footer {
  width: 100%;
  background: url("../assets/footer-lg.png") center/cover no-repeat;
  padding: 80px 312px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 768px) {
  footer {
    padding: 40px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../assets/footer-bg-sm.svg") center/cover no-repeat;
  }
}

.footer-intro {
  gap: 24px;
  display: flex;
  flex-direction: column;
  width: 686px;
}
@media (max-width: 768px) {
  .footer-intro {
    width: 100%;
    align-items: center;
  }
}

.footer-intro p {
  font-size: 20px;
  color: #3B3B3B;
}

.footer-intro address a {
  color: #919191;
  text-decoration: none;
}

.footer-contact {
  gap: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.information-button {
  width: 306px;
  background-color: #FFFFFF;
  color: #3B3B3B;
  text-decoration: none;
  border-radius: 8px;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .information-button {
    border: #C1C1C1 1px solid;
  }
}

.information-button.active {
  background-color: #000000;
  color: white;
}

.icon-wrapper {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 防止 img 溢出 */
}

.icon-lg {
  width: 100%;
  height: 100%;
}

.works-hero {
  width: 100%;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .works-hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.works-intro {
  gap: 16px;
  width: 670px;
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  .works-intro {
    width: 100%;
    padding-left: 37.5px;
    padding-right: 37.5px;
    padding-top: 64px;
  }
}

.works-intro p {
  font-size: 24px;
  text-align: center;
}
@media (max-width: 768px) {
  .works-intro p {
    font-size: 20px;
    line-height: 1.6;
  }
}

.quote-left {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .quote-left {
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
  }
}

.quote-right {
  position: absolute;
  width: 72px;
  height: 72px;
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .quote-right {
    display: none;
  }
}

.works-intro .highlight {
  background-image: url("../assets/Vector.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  padding-bottom: 4px;
}

.work-experience {
  display: flex;
  justify-content: center;
  width: 636px;
  gap: 40px;
}
@media (max-width: 768px) {
  .work-experience {
    width: 235px;
    flex-direction: column;
    padding-top: 40px;
  }
}

.works-experience-card p {
  color: #3B3B3B;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.works-experience-card .subtitle {
  color: #5B5B5B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-experience-card .subtitle::after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  background: #C1C1C1;
}

.works-collection {
  padding: 120px 312px;
}
@media (max-width: 768px) {
  .works-collection {
    padding: 80px 12px;
  }
}

.works-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
@media (max-width: 768px) {
  .works-list {
    grid-template-columns: 1fr;
    gap: 48px;
  }
}

.works-item img {
  width: 100%;
  border: #F1F1F1 1px solid;
  border-radius: 8px;
  margin-bottom: 16px;
}

.works-item h3 {
  font-size: 28px;
  color: #3B3B3B;
  padding-bottom: 8px;
  padding-top: 0;
}
@media (max-width: 768px) {
  .works-item h3 {
    font-size: 20px;
    padding-left: 16px;
  }
}

.works-item p {
  font-size: 16px;
  color: #919191;
}
@media (max-width: 768px) {
  .works-item p {
    padding-left: 16px;
  }
}

.works-item ul {
  font-size: 16px;
  display: flex;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 768px) {
  .works-item ul {
    gap: 8px;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 20px;
    justify-content: flex-start;
  }
}

.works-item li {
  color: #3B3B3B;
  background: #F1F1F1;
  padding: 10px 28px;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .works-item li {
    padding: 4px 12px;
  }
}

.works-pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 72px;
}
@media (max-width: 768px) {
  .works-pagination {
    padding-top: 48px;
  }
}

.works-pagination .pagination-button {
  background-color: #FFFFFF;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E1E1E;
  text-decoration: none;
}

.works-pagination .pagination-button.active {
  background-color: #1E1E1E;
  color: white;
}

.pagination-button:hover:not(.active) {
  background-color: #F1F1F1;
}

.modal-body {
  padding: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-info, .modal-description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-info h3 {
  font-size: 28px;
  color: #3B3B3B;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .modal-info h3 {
    padding-bottom: 8px;
  }
}

.modal-info p {
  font-size: 16px;
  color: #919191;
}

.modal-info-box {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  padding: 40px 56px;
}
@media (max-width: 768px) {
  .modal-info-box {
    grid-template-columns: 1fr;
    padding: 20px 32px;
  }
}

.info-description {
  padding-right: 72px;
}
@media (max-width: 768px) {
  .info-description {
    padding-right: 0;
    padding-bottom: 24px;
  }
}

.info-description p {
  color: #1E1E1E;
  line-height: 1.6;
}

.info-details {
  padding-left: 24px;
  border-left: 1px solid #C1C1C1;
}
@media (max-width: 768px) {
  .info-details {
    padding-left: 0;
    border-left: none;
    border-top: 1px solid #C1C1C1;
    text-align: center;
  }
}

.info-details p {
  line-height: 1.6;
}

.info-details h4 {
  color: #5B5B5B;
  line-height: 1.6;
  padding-top: 24px;
}

.modal-description {
  background-color: #FAFAFA;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 56px;
}

.modal-description-item img {
  width: 80%;
}

.modal-description-item h3 {
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 16px;
}

.modal-description-item p {
  padding-left: 16px;
  padding-right: 16px;
}/*# sourceMappingURL=all.css.map */